#relative-1 {
  position: relative;
  width: 30vw;
  height: 30vw;
  margin: 0 auto;
}

#relative-2 {
  position: relative;
  top: 8%;
  left: 8%;
  width: 38%;
  height: 38%;
}

#relative-3 {
  position: relative;
  bottom: 30%;
  left: 54%;
  width: 38%;
  height: 38%;
}

#relative-4 {
  position: relative;
  bottom: 22%;
  left: 8%;
  width: 38%;
  height: 38%;
}

#relative-5 {
  position: relative;
  bottom: 60%;
  left: 54%;
  width: 38%;
  height: 38%;
}
